// 后台框架尺寸
// 菜单宽度
$navMenu: 250px;
$navMenuMin: 64px;
$layoutHeader: 75px;

// 主颜色
$mainCcolor: #f56c6c;

@mixin webkit($type, $value){
  -webkit-#{$type}: $value;
  -moz-#{$type}: $value;
  -o-#{$type}: $value;
  -ms-#{$type}: $value;
  #{$type}: $value;
}

@mixin labelDom($align, $width, $line-height: "normal"){
  label {
    float: left;
    width: $width + px;
    text-align: $align;
    line-height: $line-height + px;
  }
  /*这里为什么要设置warp-content的margin-left或者padding-left的值等于label的width?
      答：是因为warp-content下面会设置style="width: 100%;"，100%的值是参照父div的宽度来的，因为label是float所以不算宽度，那下面的warp-content就会完完全全的等于100%
  */
  .warp-content {
    padding-left: $width + px;
  }
}